:root {
    font-size: 12px;
    font-family: sans-serif;

    --cell-size: 10rem;
    --cell-font-size: 7rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 3rem;
}

.two-players-button {
    display: none;
}

.player-bot-button {
    display: none;
}

.form-bot {
    display: none;
}

.form-two-players {
    display: none;
}

.set-difficulty {
    display: none;
}

.game {
    font-size: 1.5rem;
    display: none;
    align-items: center;
    gap: 10rem;
}

.announce {
    margin-bottom: 2rem;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    gap: 4px;
    background-color: #808080;
    width: max-content;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: var(--cell-font-size);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
}

.restart-button {
    display: none;
}

.menu-button {
    display: none;
}